/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/05/2018, 17:44:26
    Author     : Grace Viteri
*/

.border{
    border-style: ridge;
    border-width: 1px;
    border-color: #CECED1;      
}
